# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/cxImageDemo\CxImage\CxImageDLL\Debug/*.obj
/cxImageDemo\CxImage\CxImageDLL\Debug/*.pdb
/cxImageDemo\CxImage\CxImageDLL\Debug/*.pch
/cxImageDemo\CxImage\CxImageDLL\Debug/*.obj
/cxImageDemo\CxImage\CxImageDLL\Debug/*.pdb
/cxImageDemo\CxImage\CxImageDLL\Debug/*.pdb
/cxImageDemo\demo/demo.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\demo/demoDLL.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\jasper/jasper.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\jbig/jbig.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\jpeg/Jpeg.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\raw/libdcr.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\mng/mng.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\png/png.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\tiff/Tiff.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\zlib/zlib.vcproj.shaojingliu-PC.shaojingliu.user
/cxImageDemo\demo2/Console.dsw
/cxImageDemo\CxImage/cximage.dsw
/cxImageDemo\CxImage\CxImageDLL/CxImageDll.dsw
/cxImageDemo/CxImgLib.dsw
/cxImageDemo\raw/dcr.dsw
/cxImageDemo\demo/demo.dsw
/cxImageDemo\jasper/jasper.dsw
/cxImageDemo\jbig/jbig.dsw
/cxImageDemo\jpeg/Jpeg.dsw
/cxImageDemo\mng/mng.dsw
/cxImageDemo\png/png.dsw
/cxImageDemo\tiff/Tiff.dsw
/cxImageDemo\zlib/zlib.dsw
